Web References/EEKMWeb/EEKMWeb.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="HelloWorld">
        <s:complexType />
      </s:element>
      <s:element name="HelloWorldResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="HelloWorldResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="BuildSpecificKey">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strRequestKey" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="BuildSpecificKeyResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="BuildSpecificKeyResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CheckSpecificKey">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strSpecificKey" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CheckSpecificKeyResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CheckSpecificKeyResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="HelloWorldSoapIn">
    <wsdl:part name="parameters" element="tns:HelloWorld" />
  </wsdl:message>
  <wsdl:message name="HelloWorldSoapOut">
    <wsdl:part name="parameters" element="tns:HelloWorldResponse" />
  </wsdl:message>
  <wsdl:message name="BuildSpecificKeySoapIn">
    <wsdl:part name="parameters" element="tns:BuildSpecificKey" />
  </wsdl:message>
  <wsdl:message name="BuildSpecificKeySoapOut">
    <wsdl:part name="parameters" element="tns:BuildSpecificKeyResponse" />
  </wsdl:message>
  <wsdl:message name="CheckSpecificKeySoapIn">
    <wsdl:part name="parameters" element="tns:CheckSpecificKey" />
  </wsdl:message>
  <wsdl:message name="CheckSpecificKeySoapOut">
    <wsdl:part name="parameters" element="tns:CheckSpecificKeyResponse" />
  </wsdl:message>
  <wsdl:portType name="EEKMWebSoap">
    <wsdl:operation name="HelloWorld">
      <wsdl:input message="tns:HelloWorldSoapIn" />
      <wsdl:output message="tns:HelloWorldSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="BuildSpecificKey">
      <wsdl:input message="tns:BuildSpecificKeySoapIn" />
      <wsdl:output message="tns:BuildSpecificKeySoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CheckSpecificKey">
      <wsdl:input message="tns:CheckSpecificKeySoapIn" />
      <wsdl:output message="tns:CheckSpecificKeySoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="EEKMWebSoap" type="tns:EEKMWebSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BuildSpecificKey">
      <soap:operation soapAction="http://tempuri.org/BuildSpecificKey" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CheckSpecificKey">
      <soap:operation soapAction="http://tempuri.org/CheckSpecificKey" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="EEKMWebSoap12" type="tns:EEKMWebSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap12:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BuildSpecificKey">
      <soap12:operation soapAction="http://tempuri.org/BuildSpecificKey" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CheckSpecificKey">
      <soap12:operation soapAction="http://tempuri.org/CheckSpecificKey" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="EEKMWeb">
    <wsdl:port name="EEKMWebSoap" binding="tns:EEKMWebSoap">
      <soap:address location="http://licensing.pcicharge.com/EEKMWeb.asmx" />
    </wsdl:port>
    <wsdl:port name="EEKMWebSoap12" binding="tns:EEKMWebSoap12">
      <soap12:address location="http://licensing.pcicharge.com/EEKMWeb.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>